<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multiplication calculator</title>
</head>
<body>
    <form action="/multiply" method="post">
        <label for="number"> Enter numbers to be multiplied </label>
        <input type="text" name="numbers_prod" id="numbers_prod" size="60" placeholder="example: 1*2*..."><br><br>
        <input type="submit" value="Get product">
    </form>
</body>
</html>